

    .btn {
        color: white;
        font-size: 18px;
        background-color: #001a35;
        width: 120px;
        border-radius: 5px;
        margin: 5px;
        padding: 2px;;
    }










