* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: padrao;
}
body{
  background-image: url(img/Iluminium\ Fundo.png);
}
@font-face {
  font-family: padrao;
  src: url(font/Louis\ George\ Cafe\ Bold.ttf);
}
/* definindo largura altura  e cor de fundo para o header */
.header {
  width: 100%;
  height: 50px;
  background-color: #001a35;
  border-bottom: solid 1px #fbe201;
}
/*Retirando os topicos da lista,transformando em uma lista  horizontal  e colocando    em   maisculo   */
.header ul li {
  display: inline;
  text-transform: uppercase;
}
/* Tirando a decoração a cor e sublinhado da tag A e definindo a cor da letra*/
.header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/*Definindo a posicao dos elementos dentro do Header*/
#li_home {
  margin-top: 15px;
  margin-left: 10px;
  float: left;
}
#li_cadastro,
#li_sair{
  float: right;
  margin-top: 15px;
  margin-left: 10px;
}
#li_sair {
  margin-right: 10px;
}

/*definindo posição footer para a div , largura, altura  e cor de fundo */
.footer {
  width: 100%;
  height: 60px;
  float: left;
  background-color: #fffafa;
  border-top: solid 2px #fbe201;
}

.footer a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 18px;
}
/*Retirando os topicos da lista,transformando em uma lista  horizontal*/
.footer ul li {
  display:table-footer-group;
}
/*Definindo a posiçao dos elementos dentro do footer*/
.lista_footer{
    width: 25%;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.lista_footer img{
    width: 18px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
#direitos_reservados {
  float: right;
  font-size: 18px;
  margin-top: 30px;
  margin-right: 5px;
}
.graph {
  background-color:rgba(234,234,234,0.8);
  display: inline-block;
  width: 47%;
  height: 300px;
  margin: 10px;
  padding: 5px;
  border: #e2cb00 solid 1px;
  border-radius: 8px;
}

.dash {
  margin: auto;
  text-align: center;
}



.box {
    color: #fff;
    width: 20%;
    height: 200px;
    float: left;
    margin: 25px 2% 2% 3%;
}

.box h1 {
  font-size: 20px;
  margin: 40px 10px 0px 10px;
  border-bottom: solid #00000012 3px;
  font-weight: lighter;
}
.box h3 {
  margin-bottom: 5px;
  margin-top: 15px;
}
.orange {
  background-color: orange;
}

.yellow {
  background-color: #e2cb00;
}

.green {
  background-color: #4caf50;
}
.red {
  background-color: #f44336;
}
.btn_estilo{
  border: none;
  background-color: #001a35;
  color: white;
  cursor: pointer;
}
select{
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}